.about {
  margin-bottom: 41px;
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-bottom: 389px;
  }
}

.about__wrapper {
  @media (min-width: $tablet-width) {
    height: 480px;
    background-image: url("../img/iphone-tablet-about.png");
    background-position: 3% -8%;
    background-repeat: no-repeat;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    background-image: none;
  }
}

.about__info {
  padding-bottom: 70px;
}

.about__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-top: 66px;
  margin: 0;
  width: 100%;
  min-height: 769px;
  background-image: url("../img/index-about-phone.png");
  background-repeat: no-repeat;
  background-position: 50% 110%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-about-phone@2x.png");
    background-size: 165px;
  }

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    min-height: 488px;
    background-image: url("../img/about-phone-tablet.png");
    background-repeat: no-repeat;
    background-position: 5% -10%;
    padding-top: 77px;
    margin-left: -10px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-phone-tablet@2x.png");
      background-size: 270px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: none;
    flex-direction: row;
    justify-content: space-between;
    min-height: auto;
    padding: 0;
    margin-left: 0;
  }
}

.about__list-item {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    height: 200px;
    padding-top: 12px;
    padding-right: 20px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.about__list-item--mood,
.about__list-item--world,
.about__list-item--friends {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    position: relative;
    width: 300px;
    height: 301px;
    overflow: hidden;
    text-align: center;
  }
}

.about__list-item--mood::after,
.about__list-item--world::after,
.about__list-item--friends::after {
  content: "";
  position: absolute;
  top: 292px;
  left: 0;
  width: 300px;
  height: 17px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.3;
  filter: blur(4px);
}

.about__list-header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $subtitle-text-color;
  margin: 0;
  padding-bottom: 12px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding-top: 57px;
    padding-bottom: 22px;

    br {
      display: block;
    }
  }
}

.about__list-text {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $main-header-text-color;
  margin: 0 auto;
  width: 265px;
  height: auto;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    width: 310px;

    br {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 249px;

    br {
      display: none;
    }
  }
}
