.catalog-filter {
  background-color: $bg-color-block;

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 95px;
  }
}

.catalog-filter__filter-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-block;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    height: 513px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    justify-content: flex-start;
  }
}

.catalog-filter__filter-items-img {
  display: block;
  padding-top: 21px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
    padding-top: 0;
    margin-left: 0;
    margin-top: 13px;
    margin-right: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    margin-top: 9px;
  }
}

.catalog-filter__items {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    height: 300px;
    margin-top: -188px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 98px;
    margin-top: -203px;
  }
}

.catalog-filter__items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    width: 100%;
    margin-left: -26px;
    margin-top: 93px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 96px;
    margin-bottom: 108px;
  }
}

.catalog-filter__items-list {
  display: flex;
  justify-content: space-around;
  margin-left: -12px;
  margin-top: 30px;
  margin-bottom: 43px;
  width: 230px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-top: -49px;
  }
}

.catalog-filter__item-button {
  position: relative;
  padding-right: 15px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 27px;

    &:last-child {
      padding-left: 6px;
    }
  }
}

.catalog-filter__item-button:last-child {
  padding-right: 0;
  margin-top: -1px;
}

.catalog-filter__description {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-header-text-color;
  margin-top: 18px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 43px;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
  }
}

.catalog-filter__item-button-img {
  width: 44px;
  height: 44px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.catalog-filter__item-button-img svg {
  fill: #283645;
  opacity: 0.3;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
    fill: #d22856;
  }

  @media (min-width: $tablet-width) {
    fill: #d22856;
    opacity: 1;
  }
}

.catalog-filter__item-button-img--crop svg {
  width: 44px;
  height: 44px;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
  }
}

.catalog-filter__item-button-img--fill svg {
  width: 48px;
  height: 43px;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 43px;
  }
}

.catalog-filter__item-button-img--contrast svg {
  width: 32px;
  height: 32px;

  @media (min-width: $tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 32px;
    height: 32px;
  }
}

.item-button__img--active svg {
  fill: #d22856;
  opacity: 1;
}

.catalog-filter__items-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-left: -33px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 6px;
    width: auto;
  }
}

.catalog-filter__button {
  width: 280px;
  height: 55px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $main-header-text-color;
  outline: none;
  cursor: pointer;
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  opacity: 0.1;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    height: 55px;

    &:last-child {
      margin-left: 42px;
    }
  }
}

.catalog-filter__button--active {
  color: #d22856;
  border-color: #d22856;
  opacity: 1;

  &:hover {
    background: #d22856;
    color: #ffffff;
  }

  &:active {
    color: #e06889;
  }
}

.catalog-filter__button--cancel {
  &:hover {
    opacity: 0.3;
  }

  &:active {
    background-color: #283645;
    color: #cbcfd1;
  }
}

.catalog-filter__scale-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  margin-top: -28px;

  @media (min-width: $desktop-width) {
    padding-left: 56px;
    margin-top: -30px;
  }
}

.catalog-filter__scale-crop,
.catalog-filter__scale-fill,
.catalog-filter__scale-contrast {
  position: relative;
}

.catalog-filter__scale-fill {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog-filter__scale-contrast {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.catalog-filter__scale-line {
  height: 2px;
  width: 240px;
  background-color: #283645;

  @media (min-width: $tablet-width) {
    width: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.catalog-filter__scale-line::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    height: 1px;
    width: 278px;
    background: #283645;
    opacity: 0.1;
    top: 36px;
    left: -57px;
  }

  @media (min-width: $desktop-width) {
    width: 412px;
    top: 39px;
    left: -93px;
  }
}

.catalog-filter__scale-crop .catalog-filter__scale-switch {
  position: absolute;
  top: -5px;
  right: 39px;
  padding: 0;
  border: 2px solid #d22856;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  width: 14px;
  height: 14px;

  @media (min-width: $desktop-width) {
    right: 206px;
  }
}

.catalog-filter__scale-fill .catalog-filter__scale-switch {
  position: absolute;
  top: -5px;
  left: 24px;
  padding: 0;
  border: 2px solid #d22856;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  width: 14px;
  height: 14px;

  @media (min-width: $desktop-width) {
    left: 245px;
  }
}

.catalog-filter__scale-contrast .catalog-filter__scale-switch {
  position: absolute;
  top: -5px;
  left: 95px;
  padding: 0;
  border: 2px solid #d22856;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  width: 14px;
  height: 14px;

  @media (min-width: $desktop-width) {
    top: -6px;
    left: 159px;
  }
}
