.catalog-filter__filter-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color-block;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    height: 700px;
  }
}

.catalog-filter__filter-items-img {
  display: block;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
}

.catalog-filter__items-list {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.catalog-filter__item-button {
  padding-right: 15px;
}

.catalog-filter__item-button:last-child {
  padding-right: 0;
}

.catalog-filter__description {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-header-text-color;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.catalog-filter__item-button-img {
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.item-button__img--active svg {
  fill: #d22856;
}

.catalog-filter__button {
  width: 280px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $main-header-text-color;
  outline: none;
  cursor: pointer;
  padding-top: 21px;
  padding-bottom: 21px;
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  opacity: 0.1;
}

.catalog-filter__button--active {
  color: #d22856;
  border-color: #d22856;
  opacity: 1;
}
