.catalog-content__header-wrapper {
  background-color: #283645;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% auto;
  margin-bottom: 44px;
  min-height: 236px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 91px;
    background-image: url("../img/back-tablet.jpg");
    background-position: 50% 0;
    background-size: 100% auto;
    min-height: 439px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    background-size: 127% auto;
    min-height: 394px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.catalog-content__header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $light-on-dark-color;
  display: block;
  width: 100%;
  padding-top: 93px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 44px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 175px;
    margin-bottom: 91px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 169px;
  }
}

.catalog-content__info-wrapper {
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 89px;
  }
}

.catalog-content__info {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-header-text-color;
  margin: 0;

  .catalog-content__info--br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;

    br {
      display: none;
    }

    .catalog-content__info--br {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    br,
    .catalog-content__info--br {
      display: none;
    }

    .catalog-content__info--br-desk {
      display: inline;
    }
  }
}

.catalog-content__item-wrapper-main {
  background-color: $bg-color-block;
  width: 280px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 18px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 96%;
    padding-top: 23px;
    padding-left: 11px;
    padding-bottom: 14px;
    margin-bottom: 50px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 96px;
    padding-top: 24px;
    padding-left: 13px;
  }
}

.catalog-content__main-photo {
  position: relative;
}

.catalog-content-item__img-main {
  display: block;
  width: 100%;
  height: 137px;

  @media (min-width: $tablet-width) {
    height: 509px;
  }

  @media (min-width: $desktop-width) {
    height: 506px;
  }
}

.catalog-content__main-photo-button {
  position: absolute;
  top: 0;
  right: 6%;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $light-on-dark-color;
  background-color: #d22856;
  width: 140px;
  height: 36px;
  padding-left: 19px;
  padding-right: 20px;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    top: 9%;
    right: 21px;
  }

  @media (min-width: $desktop-width) {
    top: 54px;
    right: 1%;
  }
}

.catalog-content__item-wrapper {
  background-color: $bg-color-block;
  width: 280px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    min-height: 132px;
    background-color: transparent;
    padding-top: 19px;
    padding-left: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 21px;
    padding-left: 3px;
  }
}

.catalog-content__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;

    &::before {
      position: absolute;
      content: "";
      bottom: 26px;
      left: 10px;
      height: 9px;
      width: 97%;
      background-color: #c4c4c4;

      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding: 0;
  }
}

.catalog-content__item {
  background-color: $bg-color-block;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.catalog-content__item:nth-child(2n + 1) {
  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

// ВРЕМЕННО, ДО ГРАФИКИ
@media (min-width: $tablet-width) {
  .catalog-content__item-img {
    width: 300px;
    height: 300px;

    @media (min-width: $desktop-width) {
      height: 400px;
    }
  }
}

.catalog-content__item-name {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: $main-header-text-color;
  margin: 0;
  padding-left: 17px;

  @media (min-width: $desktop-width) {
    padding-left: 15px;
  }
}

.catalog-content__item-time {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $main-header-text-color;
  text-transform: uppercase;
  opacity: 0.5;
  padding-left: 2px;

  @media (min-width: $tablet-width) {
    padding-left: 4px;
  }
}

.catalog-content__item-review {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $main-header-text-color;
  margin: 0;
  padding-left: 17px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 14px;
  }
}

.catalog-content__item-likee {
  position: relative;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
  margin: 0;
  padding-left: 49px;

  @media (min-width: $tablet-width) {
    padding-left: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 15px;
  }
}

.catalog-content__item-likee::before {
  position: absolute;
  left: 16px;
  top: 5px;
  content: "";
  width: 13px;
  height: 12px;
  background-image: url("../img/heart.png");
  background-repeat: no-repeat;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: 243px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-content__item-likee--main {
    position: absolute;
    content: "";
    right: 56px;
    top: 25px;

    &::before {
      left: 123px;
    }

    @media (min-width: $desktop-width) {
      right: 60px;
      top: 26px;

      &::before {
        left: 120px;
      }
    }
  }
}
