.contacts {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 2px;
  }
}

.contacts__items-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 570px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }
}

.contacts__text {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: $main-header-text-color;
  padding-bottom: 34px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    padding-bottom: 39px;
  }
}

.contacts__item {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: $main-header-text-color;
  padding-bottom: 18px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 42px;

    &:last-child {
      margin: 0 auto;
    }

    &:nth-child(2) {
      margin-right: 4px;

      @media (min-width: $desktop-width) {
        margin-right: 30px;
      }
    }

    &:first-child {
      margin-left: 23px;

      @media (min-width: $desktop-width) {
        margin-left: 48px;
        margin-right: 14px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts__item:nth-child(2) {
    order: 2;
  }
}

.contacts__phone,
.contacts__mail,
.contacts__addres {
  display: block;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #d22856;
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.contacts__map {
  position: relative;
  text-align: center;

  .contacts__map-map {
    width: 100%;
    z-index: 1;

    @media (min-width: $tablet-width) {
      height: 374px;
    }

    @media (min-width: $desktop-width) {
      height: 502px;
    }
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 2;

    @media (min-width: $tablet-width) {
      height: 374px;
    }

    @media (min-width: $desktop-width) {
      height: 502px;
    }
  }

  @media (min-width: $tablet-width) {
    height: 374px;
    margin-top: -21px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}

.contacts__map-marker {
  position: absolute;
  top: 94px;
  left: 142px;
  width: 36px;
  height: 36px;

  @media (min-width: $tablet-width) {
    top: 194px;
    left: 47%;
  }

  @media (min-width: $desktop-width) {
    top: 260px;
    left: 582px;
  }
}

.contacts__map-marker--marker {
  width: 36px;
  height: 36px;
}
