.effect {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    background-image: url("../img/timer-round-tablet.png"), url("../img/timer-hours-tablet.png"), url("../img/timer-tablet.png");
    background-repeat: no-repeat;
    background-position: 9% 62%, 16% 55%, 5% 10%;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    height: 429px;
    background-color: #f2f2f2;
    background-image: url("../img/timer-round-desk.png"), url("../img/timer-hours-desk.png"), url("../img/timer-desk.png");
    background-position: 24% 62%, 26% 56%, 23% 50%;
  }
}

.effect__wrapper {
  width: 100%;
  height: 300px;
  margin-left: auto;
}

.effect__header,
.effect__text,
.effect__more {
  padding-left: 322px;

  @media (min-width: $desktop-width) {
    padding-left: 343px;
  }
}

.effect__header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-bottom: 9px;
  padding-top: 47px;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    padding-top: 134px;
    padding-bottom: 29px;

    br {
      display: none;
    }
  }
}

.effect__text {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $main-header-text-color;
  margin: 0;
  padding-bottom: 10px;

  br {
    display: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-bottom: 48px;

    br {
      display: block;
    }
  }
}

.effect__more {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #d22856;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
