.effect {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 89px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    margin-bottom: 55px;
    min-height: 493px;
  }
}

.effect__wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  padding-left: 320px;

  @media (min-width: $desktop-width) {
    padding-left: 370px;
    padding-top: 29px;
  }
}

.effect__wrapper::after {
  position: absolute;
  content: "";
  top: 11px;
  left: 10px;
  width: 238px;
  height: 276px;
  background-image: url("../img/timer-tablet.svg");
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    top: 79px;
    left: 0;
    width: 303px;
    height: 345px;
    background-image: url("../img/timer-desk.svg");
  }
}

.effect__header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-top: 55px;
  padding-bottom: 9px;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    padding-top: 145px;
    padding-bottom: 27px;

    br {
      display: none;
    }
  }
}

.effect__text {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $main-header-text-color;
  margin: 0;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }

    .effect__text--br-tab {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 34px;

    br {
      display: none;

      &.effect__text--br-tab {
        display: none;
      }
    }

    .effect__text--br {
      display: inline;
    }
  }
}

.effect__more {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #d22856;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
