.forms {
  margin-bottom: 56px;

  @media (min-width: $tablet-width) {
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

// .forms__wrapper {
//   margin: 0 auto;
//   padding: 0;

//   @media (min-width: $tablet-width) {
//     max-width: 620px;
//   }

//   @media (min-width: $desktop-width) {
//     max-width: 940px;
//   }
// }

.forms__header-wrapper {
  background-color: #283645;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 22%;
  background-size: cover;
  margin-bottom: 44px;
  min-height: 171px;

  @media (min-width: $tablet-width) {
    margin-bottom: 91px;
    background-image: url("../img/back-tablet.jpg");
    background-position: 50% 20%;
    background-size: cover;
    min-height: 351px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back-desktop.jpg");
    min-height: 284px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.forms__form-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
  }
}

.forms__header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $light-on-dark-color;
  margin: 0 auto;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 88px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;

    br {
      display: none;
    }

    .forms__header--br {
      display: inline;
    }
  }
}

.forms__text {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-header-text-color;
  margin: 0 auto;
  padding-bottom: 22px;

  .forms__text--br,
  .forms__text--br-desk {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-bottom: 67px;

    br {
      display: none;
    }

    .forms__text--br {
      display: inline;
    }
  }

  @media (min-width: $desktop-width) {
    br {
      display: none;
    }

    .forms__text--br {
      display: none;
    }

    .forms__text--br-desk {
      display: inline;
    }
  }
}

.forms__text span {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.forms__user-header,
.forms__contacts-header,
.forms__emotion-header,
.forms__rules-star {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $forms-header-color;
}

.forms__user-contains,
.forms__progress-input-names,
.forms__contacts-contains,
.forms__platforms-input-names,
.forms__emotion-discription {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $main-header-text-color;
}

.forms__progress,
.forms__platforms {
  background-color: $bg-color-block;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.forms__user {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    order: -5;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 54%;
    padding-right: 35px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.forms__user-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding-bottom: 5px;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 20px;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    padding-bottom: 48px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 42px;
  }
}

.forms__user-header {
  padding-left: 21px;
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 16px;
    padding-right: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 0;
    padding-right: 20px;
  }
}

.forms__user-contains {
  width: 100%;
  height: 61px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding-left: 20px;
  margin: 0 auto;
  outline: none;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }

  @media (min-width: $desktop-width) {
    height: 64px;
    margin-top: 11px;
    margin-bottom: -7px;
  }
}

// .forms__progress-wrapper {
//   width: 100%;
// }

.forms__progress {
  box-sizing: border-box;
  border: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 33px;
  padding: 0;

  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 51px;
  }
}

.forms__progress-header {
  font-size: 14px;
  line-height: 18px;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: $forms-header-color;
  text-align: center;
  padding-top: 81px;
  width: 218px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    text-align: center;
    line-height: 30px;
    width: 438px;
    overflow: hidden;

    br {
      display: none;
    }
  }
}

.forms__progress-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 0;
  }
}

.forms__progress-list {
  list-style: none;
  margin-top: 43px;
  margin-bottom: 47px;
  padding-left: 49px;

  @media (min-width: $tablet-width) {
    padding-left: 87px;
    margin-top: 48px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 315px 295px auto;
    grid-template-rows: 1fr 1fr;
    padding-left: 77px;
    margin-top: 49px;
    margin-bottom: 7px;
  }
}

@media (min-width: $desktop-width) {
  .forms__progress-item:nth-child(2n) {
    order: 2;
  }
}

.forms__progress-checkbox:checked + .forms__progress-input-names::after {
  content: "";
  position: absolute;
  left: -37px;
  top: -2px;
  width: 35px;
  height: 35px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  background-image: url("../img/check.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    top: -3px;
  }
}

.forms__progress-checkbox + .forms__progress-input-names::before {
  content: "";
  position: absolute;
  left: -37px;
  top: -2px;
  width: 35px;
  height: 35px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    top: -3px;
  }
}

.forms__contacts {
  box-sizing: border-box;
  border: none;
  margin-bottom: -53px;
  padding: 0;

  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    order: -3;
    padding: 0;
    margin-bottom: 58px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    width: 940px;
    margin-bottom: 56px;
  }
}

.forms__contacts-header {
  padding-left: 22px;

  @media (min-width: $tablet-width) {
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 20px;
    padding-top: 11px;
    margin-top: 0;
  }
}

.forms__contacts-name {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #d22856;
    text-align: center;
    padding-left: 32px;
    padding-right: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.forms__contacts-wrapper {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 9px;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    margin-bottom: 27px;
    padding-left: 48px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 915px;
    margin-top: 20px;
    margin-bottom: 14px;
    padding-left: 0;
  }
}

.forms__contacts-item {
  position: relative;
  width: 100%;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.forms__contacts-item:first-child {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
    margin-left: 48px;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.forms__contacts-contains {
  width: 100%;
  height: 62px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  padding-left: 18px;
  margin-top: 5px;
  margin-bottom: 18px;
  outline: none;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }

  @media (min-width: $tablet-width) {
    width: 500px;
    margin-top: 11px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    width: 375px;
    margin: 0;
    padding-left: 21px;
  }
}

@media (min-width: $tablet-width) {
  .forms__contacts-tel::after {
    content: "";
    position: absolute;
    right: 41px;
    top: 13px;
    width: 58px;
    height: 58px;
    background-color: #e5e5e5;
    background-image: url("../img/phone-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $desktop-width) {
      top: 2px;
    }
  }

  .forms__contacts-mail::after {
    content: "";
    position: absolute;
    right: 41px;
    top: 13px;
    width: 58px;
    height: 58px;
    background-color: #e5e5e5;
    background-image: url("../img/mail-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $desktop-width) {
      top: 2px;
    }
  }
}

.forms__platforms {
  box-sizing: border-box;
  border: none;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 34px;
  margin-left: auto;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    order: -4;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 46%;
    margin-right: 0;
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 50px;
  }
}

.forms__platforms-wrapper {
  margin: 0 auto;
  padding-left: 10px;

  @media (min-width: $tablet-width) {
    margin-left: 99px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 111px;
  }
}

.forms__platforms-header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $forms-header-color;
  text-align: center;
  padding-top: 117px;
  width: 178px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    line-height: 30px;
    text-align: center;
    width: 363px;
    overflow: hidden;

    br {
      display: none;
    }
  }
}

.forms__platforms-list {
  margin: 0;
  padding-top: 38px;
  padding-left: 71px;

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-left: 0;
    padding-bottom: 13px;
  }
}

.forms__platforms-item {
  position: relative;
  margin-bottom: 45px;

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.forms__platforms-radio:checked + .forms__platforms-input-names::after {
  content: "";
  position: absolute;
  left: -69px;
  top: -3px;
  width: 37px;
  height: 37px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-image: url("../img/ellipse-small.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: -59px;
  }

  @media (min-width: $desktop-width) {
    top: -3px;
    left: -59px;
  }
}

.forms__platforms-radio:checked + .forms__platforms-input-names::before {
  display: none;
}

.forms__platforms-radio + .forms__platforms-input-names::before {
  content: "";
  position: absolute;
  left: -69px;
  top: -3px;
  width: 37px;
  height: 37px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: -59px;
  }

  @media (min-width: $desktop-width) {
    top: -3px;
    left: -59px;
  }
}

.forms__platforms-input-names:hover::after,
.forms__platforms-radio:checked + .forms__platforms-input-names:hover::after,
.forms__platforms-input-names:hover::before,
.forms__progress-input-names:hover::after,
.forms__progress-checkbox:checked + .forms__progress-input-names:hover::after,
.forms__progress-input-names:hover::before {
  border-color: #283645;
}

.forms__platforms-input-names:active::after,
.forms__platforms-radio:checked + .forms__platforms-input-names:active::after,
.forms__platforms-input-names:active::before,
.forms__progress-input-names:active::after,
.forms__progress-checkbox:checked + .forms__progress-input-names:active::after,
.forms__progress-input-names:active::before {
  border-color: #d22856;
}

.forms__emotion {
  box-sizing: border-box;
  border: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: -11px;

  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    padding: 0;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.forms__emotion-header {
  text-align: center;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.forms__emotion-discription {
  width: 276px;
  height: 200px;
  resize: none;
  padding-left: 19px;
  padding-top: 13px;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    width: 500px;
    height: 192px;
    margin-top: 30px;
    margin-bottom: 49px;
    padding-left: 21px;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 817px;
    height: 126px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 28px;
    margin-bottom: 44px;
    padding-left: 18px;
    padding-top: 13px;
  }
}

.forms__submit-items {
  margin-top: 57px;

  @media (min-width: $tablet-width) {
    margin-top: 78px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 0;
    margin-top: 75px;
  }
}

.forms__submit-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 276px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 940px;
  }
}

.forms__button {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $light-on-dark-color;
  background: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  cursor: pointer;
  display: block;
  width: 276px;
  height: 62px;

  &:hover {
    background: #1c9b5e;
    border: 2px solid #1c9b5e;
  }

  &:active {
    color: #60b98e;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.forms__rules {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $main-header-text-color;
  text-align: center;
  margin: 0;
  padding-top: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    margin-right: 0;
  }
}

.forms__rules-hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
