.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 66px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }
}

.main-nav__wrapper {
  @media (min-width: $desktop-width) {
    max-width: 940px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 110px;
  }
}

.main-nav__menu-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 2;
  display: block;
  width: 50px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    top: 51%;
    right: 23px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__menu-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__menu-button:hover::before {
  background-color: #d22856;
  box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856;
  opacity: 1;
}

.main-nav--closed .main-nav__menu-button:active::before {
  background-color: #d22856;
  box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856;
  opacity: 0.3;
}

.main-nav--closed .main-nav__item {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main-nav--open {
  position: static;
  background: #283645;
  margin-bottom: -66px;

  @media (min-width: $tablet-width) {
    margin-bottom: -110px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav--closed {
  position: static;
  margin-bottom: -66px;

  @media (min-width: $tablet-width) {
    margin-bottom: -110px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav--open .main-nav__menu-button {
  top: 31px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 13px;
    width: 27px;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #d22856;
    opacity: 1;
  }

  &:active::before,
  &:active::after {
    background: #d22856;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    top: 53px;
  }
}

.main-nav--nojs {
  background: #283645;

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav--nojs .main-nav__menu-button {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__list {
  display: block;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    width: auto;
    flex-direction: row;
    margin-top: 18px;
  }
}

.main-nav__item {
  width: 100%;
  text-align: center;

  @media (min-width: $desktop-width) {
    &:last-child {
      padding-right: 0;
    }
    padding-right: 80px;
    width: auto;
  }
}

.main-nav__item a {
  position: relative;
  display: block;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: $light-on-dark-color;
  padding-top: 18px;
  padding-bottom: 13px;
  background: #283645;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;

  &:hover {
    color: #d22856;
  }

  &:active {
    color: #522f48;
  }

  @media (min-width: $tablet-width) {
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
    box-shadow: none;
    border: none;
    padding: 0;
    padding-bottom: 21px;
    background: inherit;

    span {
      text-transform: uppercase;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item--active a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 8px;
    left: 0;
    height: 2px;
    background: #ffffff;
  }
}
