.main-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    padding-right: 30px;
  }
}

.main-nav__item a {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: $light-on-dark-color;


  @media (min-width: $desktop-width) {
    text-transform: none;
  }
}
