.page-header {
  color: $light-on-dark-color;
  width: 100%;
  position: relative;
}

.page-header__logo {
  display: block;
  width: 74px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 1px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 20px;

  img {
    width: 74px;
    height: 23px;

    &:hover {
      background: #d22856;
    }

    &:active {
      background: #ffffff;
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      width: 145px;
      height: 40px;
    }

    @media (min-width: $desktop-width) {
      width: 147px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 145px;
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
    margin-left: 0;
  }
}

.page-header__logo-mobile {
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;
  fill: #ffffff;

  &:hover {
    fill: #d22856;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
