.page-header {
  display: flex;
  flex-direction: column;
  background: #283645;
  color: $light-on-dark-color;
}

.page-header__logo {
  height: 69px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    img {
      display: none;
    }

    height: 40px;
    background-image: url("../img/logo-tablet.svg");
    background-repeat: no-repeat;
    padding-top: 27px;
    padding-bottom: 43px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    height: 40px;
    background-image: url("../img/logo-desktop.svg");
    background-repeat: no-repeat;
    padding-right: 130px;
  }
}
