.page-footer {
  margin-top: 39px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-top: 36px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.page-footer__develop {
  position: relative;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $main-header-text-color;
  text-align: center;
  margin-left: -39px;

  @media (min-width: $tablet-width) {
    padding-top: 17px;
    width: 100px;
    height: 34px;
    margin-left: 30px;
    margin-right: 34px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
    margin-right: 17px;
  }
}

.page-footer__develop::after {
  position: absolute;
  top: -9px;
  right: 86px;
  content: "";
  width: 27px;
  height: 34px;
  background-image: url("../../img/html-academy.png");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: 107px;
    top: 10px;
  }

  @media (min-width: $desktop-width) {
    left: 125px;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 33px;

    img {
      display: none;
    }
    width: 147px;
    height: 40px;
    background-image: url("../img/index-logo-footer-desk.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.page-footer__socials {
  display: flex;
  margin: 0 auto;
  padding-bottom: 50px;
}
