.page-header {
  background: #283645;
  color: $light-on-dark-color;
  width: 100%;
  min-height: 66px;

  @media (min-width: $tablet-width) {
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;
  }
}

.page-header__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.page-header__logo {
  display: block;
  width: 74px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;

  img {
    width: 74px;
    height: 23px;

    @media (min-width: $tablet-width) {
      width: 145px;
      height: 40px;
    }

    @media (min-width: $desktop-width) {
      width: 147px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 145px;
    padding-top: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
  }
}
