.price {
  background-color: $bg-color-block;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
  }
}

.price__wrapper {
  overflow: hidden;
}

.price__table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__table {
  display: block;
  width: 900px;
  padding-top: 27px;
  padding-bottom: 70px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    padding-bottom: 86px;
  }
}

.price__table tbody {
  background-color: #ffffff;
}

.price__table-header-wrapper {
  background-color: #283645;
  color: $light-on-dark-color;
  width: 276px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  @media (min-width: $tablet-width) {
    width: 152px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    height: 100px;
  }
}

.price__table-header {
  position: relative;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $light-on-dark-color;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price__table-header--hit {
  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
}

.price__table-cost {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $light-on-dark-color;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.price__table-name {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $main-header-text-color;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    text-transform: none;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 6px;
    width: 153px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 275px;
  }
}

.price__table-name-hidden {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__table-name-hidden--mobile {
  width: 0;
  min-width: 0;
  padding: 15px;
  font-size: 0;
  line-height: 0;

  @media (min-width: $tablet-width) {
    width: 153px;
    min-width: auto;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 234px;
  }
}

@media (min-width: $mobile-width) {
  .price__table-mobile-only {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 18px;

    @media (min-width: $tablet-width) {
      align-items: center;
      justify-content: center;
      padding-right: 0;
    }
  }
}

.price__table-cell-hidden {
  border-style: hidden;
  background: $bg-color-block;
}

.price__toggles {
  position: relative;

  .slider__toggles {
    top: -20px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
