.promo {
  height: 675px;
  background-color: #1d2631;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 120%;
  z-index: -1;

  @media (min-width: $tablet-width) {
    height: 620px;
  }

  @media (min-width: $desktop-width) {
    height: 750px;
  }
}

.promo__bg-img {
  background-image: url("../img/index-phone.png");
  background-repeat: no-repeat;
  background-position: 50% 31%;

  @media (min-width: $tablet-width) {
    height: 645px;
    background-color: #1d2631;
    background-image: url("../img/phone-tablet.png"), url("../img/screen-tablet.png");
    background-position: -9% 101%, 84% 52%;
  }

  @media (min-width: $desktop-width) {
    height: 773px;
    background-color: #1d2631;
    background-image: url("../img/phone-desk.png"), url("../img/screen-desk.png");
    background-position: 68% 100%, 69% 53%;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  color: $light-on-dark-color;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    align-items: baseline;
    width: 500px;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    padding-top: 100px;
  }
}

.promo__header-wrapper {
  height: 400px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    background-image: none;
    height: auto;
    margin-top: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: -109px;
    margin-bottom: 56px;
  }
}

.promo__header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  padding-top: 24px;
  padding-left: 18px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.promo__download-button {
  display: block;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 29px;
  background: #1d2631;
  color: $light-on-dark-color;
  width: 280px;
  height: 55px;
  outline: none;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background: transparent;
    margin-left: -57px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin-left: -138px;
  }
}

.promo__platforms {
  padding-top: 32px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 68px;
    margin-left: -93px;
  }
}

.promo__platforms a {
  padding-right: 30px;

  &:last-child {
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 36px;
  }
}

.promo__description {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-left: -57px;
    margin-top: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -137px;
    margin-top: 29px;
  }
}
