.promo {
  min-height: 668px;
  background-color: #1d2631;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -32%;
  background-size: 100% 69%;
  margin-bottom: 1px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    min-height: 640px;
    background-image: url("../img/back-tablet.jpg");
    background-position: 50% 100%;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 742px;
    margin-bottom: 63px;
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.promo__items {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 108px;

    &::before {
      position: absolute;
      top: 96px;
      left: -11px;
      content: "";
      width: 640px;
      height: 545px;
      background-image: url("../img/index-phone-tablet.png");
      background-repeat: no-repeat;
      z-index: 1;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-phone-tablet@2x.png");
        background-size: 659px;
      }

      @media (min-width: $desktop-width) {
        width: 100%;
        height: 645px;
        left: 15px;
        background-image: url("../img/phone-desk.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/phone-desk@2x.png");
          background-size: 1050px;
        }
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 93px;
    padding-left: 0;
  }
}

.promo__header-wrapper {
  margin-bottom: 26px;

  img {
    width: auto;
    height: 286px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.promo__header {
  font-family: $main-font-family;
  color: $light-on-dark-color;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 29px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
    padding-top: 7px;
    padding-bottom: 5px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  color: $light-on-dark-color;
  z-index: 2;
}

.promo__download-button {
  display: block;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  border: 3px solid #ffffff;
  border-radius: 29px;
  background: #1d2631;
  color: $light-on-dark-color;
  width: 280px;
  height: 55px;
  outline: none;
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: #f2bfcc;
  }

  @media (min-width: $tablet-width) {
    background: transparent;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }
}

.promo__platforms {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 68px;
    align-items: baseline;
  }
}

.promo__platforms a {
  padding-right: 35px;

  &:last-child {
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-right: 36px;
  }
}

.promo__description {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
  }
}
