.reviews {
  margin-bottom: 152px;

  @media (min-width: $tablet-width) {
    margin-bottom: 130px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/quotes.png");
    background-repeat: no-repeat;
    background-position: 50% 6%;
    padding-top: 210px;
    margin-bottom: 132px;
  }
}

.reviews__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    margin-top: -82px;
  }
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reviews__header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $subtitle-text-color;
  padding-bottom: 13px;
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    padding-top: 35px;
    padding-bottom: 3px;
  }
}

.reviews__header-about {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-header-text-color;
  margin: 0 auto;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-header-text-color;
  padding: 0;
  margin: 0 auto;
  width: 283px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.reviews__toggles {
  position: relative;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__slider-button {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__slider-button--left,
.reviews__slider-button--right {
  border: none;
  background: transparent;
  cursor: pointer;
}

.reviews__slider-button--left {
  position: absolute;
  top: 27px;
  left: -15px;
}

.reviews__slider-button--right {
  position: absolute;
  top: 27px;
  right: -17px;
}
