.reviews {
  position: relative;

  @media (min-width: $desktop-width) {
    background-image: url("../img/quotes.png");
    background-repeat: no-repeat;
    background-position: 50% 23%;
  }
}

.reviews__wrapper {
  margin-bottom: -35px;

  @media (min-width: $tablet-width) {
    padding-top: 88px;
    margin-bottom: -32px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 184px;
    margin-bottom: 20px;
  }
}

.reviews__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reviews__header {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $subtitle-text-color;
  padding-bottom: 13px;
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    padding-top: 35px;
    padding-bottom: 3px;
  }
}

.reviews__header-about {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-header-text-color;
  margin: 0 auto;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-header-text-color;
  padding: 0;
  margin: 0 auto;
  width: 283px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.reviews__toggles {
  position: relative;

  .slider__toggles {
    left: 40%;
    top: -46px;

    @media (min-width: $tablet-width) {
      left: 292px;
      top: -42px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews__slider-button {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.reviews__slider-button-left,
.reviews__slider-button-right {
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__slider-button-left {
  position: absolute;
  top: 211px;
  left: -6px;
}

.reviews__slider-button-right {
  position: absolute;
  top: 211px;
  right: -6px;
}
