.socials__item {
  display: block;
  width: 48px;
  height: 48px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  margin-right: 14px;

  &:hover {
    border: 3px solid #283645;
  }

  &:active {
    opacity: 0.1;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 11px;
  }
}

.socials__item--twitter {
  background-image: url("../img/twit.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.socials__item--fb {
  background-image: url("../img/fb.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.socials__item--youtube {
  background-image: url("../img/youtube.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
