.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0;

  @media (min-width: $tablet-width) {
    max-width: 640px;
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1960px;
    padding: 0 20px;
  }
}
