$main-font-family: "Open Sans", "PT Sans", sans-serif;
$light-on-dark-color: #ffffff;
$bg-color: #ffffff;
$bg-color-block: #f2f2f2;
$main-header-text-color: #283645;
$subtitle-text-color: #000000;
$forms-header-color: #d22856;
